<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name = "Converted JUnit suite" >
<listeners>
<listener class-name="com.pyconiq.api.common.myTestListener"/>
</listeners>
   <test name = "JUnitTests" junit="true">
      <classes>
         <class name = "org.pyconiq.pyconiqassignment.bookingsTest" />
      </classes>
   </test>
</suite>